{% extends 'base.html' %}


{% block body %}
  <div class="indian-tour-text">
    <h2>DOMESTIC TOURS</h2>
    <p>
      Premium Indian Destinations, Personalized Tailor Made Tours. <br /><br />
      We specialise in exotic premium Indian destinations. If you want to visit Andaman Mauritius, We Tour Operators in India are a perfect choice. The customised Indian packages like Ajmer Tour Packages, Agra tour packages, Delhi and the Kashmir might fill you with excitement.
    </p>
  </div>
  <section class="package mt-8">
    <div class="row-package">
      <div class="box">
        <div class="box1">
          <img src="/static/images\left.jpg" alt="" />
        </div>
        <div class="box2">
                    <h3 class="price"><i class="fa-solid fa-location-dot"></i>Australia <hr></h3>


          
        </div>
      </div>
      <div class="box" >
        <div class="box1" >
          <img src="/static/images/pic1.jpg" alt="" />
        </div>
        <div class="box2">
                    <h3 class="price"><i class="fa-solid fa-location-dot"></i>Australia <hr></h3>

        
        </div>
      </div>
      <div class="box">
        <div class="box1">
          <img src="/static/images/right.jpg" alt="" />
        </div>
        <div class="box2">
                    <h3 class="price"><i class="fa-solid fa-location-dot"></i>Australia <hr></h3>

         
        </div>
      </div>
    </div>
    <div class="row-package mt-3">
      <div class="box">
        <div class="box1">
          <img src="/static/images\left.jpg" alt="" />
        </div>
        <div class="box2">
                    <h3 class="price"><i class="fa-solid fa-location-dot"></i>Australia <hr></h3>


        </div>
      </div>
      <div class="box" style="height: 34em;" >
        <div class="box1" style="height:40%">
          <img src="/static/images/pic1.jpg" alt="" />
        </div>
        <div class="box2" style="height:20%">
                    <h3 class="price"><i class="fa-solid fa-location-dot"></i>Australia <hr></h3>

         
        </div>
      </div>
      <div class="box">
        <div class="box1">
          <img src="/static/images/right.jpg" alt="" />
        </div>
        <div class="box2">
                    <h3 class="price"><i class="fa-solid fa-location-dot"></i>Australia <hr></h3>

        
        </div>
      </div>
    </div>

    <span><a href="/package/" class="explore-more"><h2>Explore More</h2></a></span>
  </section>

  <div class="indian-tour-text">
    <h2>INTERNATIONAL TOURS</h2>
    <p>
      Premium Indian Destinations, Personalized Tailor Made Tours. <br /><br />
      We specialise in exotic premium Indian destinations. If you want to visit Andaman Mauritius, We Tour Operators in India are a perfect choice. The customised Indian packages like Ajmer Tour Packages, Agra tour packages, Delhi and the Kashmir might fill you with excitement.
    </p>
  </div>

  <section class="package mt-8">
    <div class="row-package">
      <div class="box">
        <div class="box1">
          <img src="/static/images\left.jpg" alt="" />
        </div>
        <div class="box2">
                    <h3 class="price"><i class="fa-solid fa-location-dot"></i>Australia <hr></h3>


         
        </div>
      </div>
      <div class="box" style="height: 34em;" >
        <div class="box1" style="height:40%">
          <img src="/static/images/pic1.jpg" alt="" />
        </div>
        <div class="box2">
                    <h3 class="price"><i class="fa-solid fa-location-dot"></i>Australia <hr></h3>

        
        </div>
      </div>
      <div class="box">
        <div class="box1">
          <img src="/static/images/right.jpg" alt="" />
        </div>
        <div class="box2">
                    <h3 class="price"><i class="fa-solid fa-location-dot"></i>Australia <hr></h3>

      
        </div>
      </div>
    </div>
    <div class="row-package mt-4">
      <div class="box">
        <div class="box1">
          <img src="/static/images\left.jpg" alt="" />
        </div>
        <div class="box2">
                    <h3 class="price"><i class="fa-solid fa-location-dot"></i>Australia <hr></h3>


        
        </div>
      </div>
      <div class="box" style="height: 34em;" >
        <div class="box1" style="height:40%">
          <img src="/static/images/pic1.jpg" alt="" />
        </div>
        <div class="box2">
                    <h3 class="price"><i class="fa-solid fa-location-dot"></i>Australia <hr></h3>

         
        </div>
      </div>
      <div class="box">
        <div class="box1">
          <img src="/static/images/right.jpg" alt="" />
        </div>
        <div class="box2">
                    <h3 class="price"><i class="fa-solid fa-location-dot"></i>Australia <hr></h3>

        
        </div>
      </div>
    </div>

    <span><a href="/package/" class="explore-more"><h2>Explore More</h2></a></span>
  </section>
{% endblock %}
