
<script>
  var coll = document.getElementsByClassName('collapsible')
  var i
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener('click', function () {
      this.classList.toggle('active')
      var content = this.nextElementSibling
      if (content.style.maxHeight) {
        content.style.maxHeight = null
      } else {
        content.style.maxHeight = content.scrollHeight + 'px'
      }
    })
  }
</script>
    <style>
        .collapsible {
          background: #4b46e8;
          color: white;
          cursor: pointer;
          padding: 18px;
          width: 100%;
          border: none;
          text-align: left;
          outline: none;
          font-size: 15px;
          margin: 3px;
        }
      </style>


{% block Himachal %}

<h3 class="price"><i class="fa-solid fa-location-dot"></i>Majestic Himachal Tour
    <hr /></h3>
  <ul>
    <button type="button" class="collapsible">Day 1 : Arrive at Delhi move to Shimla</button>
    <div class="content">
      - Arrival At Delhi Railway station/Air Port Meet our company driver move to Shimla<li>
        <i class="fa-solid fa-chevron-right"></i>On the way Pinjore Garden
      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i>Timber trail
      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i>Sancat Mochan Temple
      </li>- On reaching Shimla check in hotel, Overnight stay at Shimla..<li>
        <i class="fa-solid fa-chevron-right"></i>Shimla: - Shimla was the former summer capital of British India, set amidst the snow capped Shivalik Mountains. Which offers some of the most stunning views of the mighty Himalayas. Overnight stay at hotel in Shimla.
      </li>
    </div>
    <button type="button" class="collapsible">Day 2 : Kufri-Jakhu Excursion
    </button>
    <div class="content">
      - After breakfast drive to Kufri Excursion visit
      <li>
        <i class="fa-solid fa-chevron-right"></i>Green valley
      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i>Kufri top (Known as Mahasu Peak, one can hire horse to reach the Top)

      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i> Maheshwari Temple

      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i> Indra Tourist Park (The Indira Tourist Park is near the Himalayan Nature Park and provides panoramic view of the locations around)

      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i> Mini Zoo (Famous for Snow Leopard)


      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i> Hip Hip Hurry (Place known for Adventure activities like Zip Line, Burma Bridge etc, one can visit here as per choice)


      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i> Jakhoo temple (Temple Dedicated to Lord Hanuman, situated at the highest peak of Shimla)


      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i> Indra Tourist Park (The Indira Tourist Park is near the Himalayan Nature Park and provides panoramic view of the locations around)

      </li>
    </div>
    <button type="button" class="collapsible">Day 3 : Shimla to Manali via Kullu Valley
    </button>
    <div class="content">
      <li>
        <i class="fa-solid fa-chevron-right"></i>After breakfast check out from the hotel & leave for Manali. In evening reach at Manali, Dinner & overnight stay at Manali hotel.
        On the way sight-seeing like Sundernagar lake, Mandi, Pandoh dam, Vaishno Devi Temple.
      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i>Breakfast
      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i>Visit Sight Seeing
      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i>3 Days 4 Nights
      </li>
    </div>
    <button type="button" class="collapsible">Day 4</button>
    <div class="content">
      <li>
        <i class="fa-solid fa-chevron-right"></i>Transport Facility
      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i>Breakfast
      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i>Visit Sight Seeing
      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i>3 Days 4 Nights
      </li>
    </div>

   

    <div class="content">
      <li>
        <i class="fa-solid fa-chevron-right"></i>Transport Facility
      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i>Breakfast
      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i>Visit Sight Seeing
      </li>
      <li>
        <i class="fa-solid fa-chevron-right"></i>3 Days 4 Nights
      </li>
    </div>
  </ul>
{% endblock Himachal %}

{% comment %} Delhi Tour Package {% endcomment %}

{% block Delhi %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, ex. Sed quos autem porro veritatis magni quasi officiis magnam quidem inventore nesciunt quas in dolores delectus quaerat repellat recusandae doloribus pariatur, maxime asperiores deserunt enim accusantium molestiae. Libero cum, doloremque accusantium, ullam recusandae nesciunt voluptates neque facilis iusto minima, ex officia repudiandae harum consequuntur quam aperiam. Amet quasi est sed assumenda maiores laboriosam reprehenderit minima explicabo dolore, omnis eligendi dolorem similique harum repellendus id iste? Placeat eveniet ut cumque velit. Ullam tenetur maiores omnis ea possimus fugiat, saepe necessitatibus incidunt molestias ducimus mollitia, debitis nostrum ipsa, veniam cupiditate eum iure.{% endblock Delhi %}


{% block kashmir %}
<h1>This is kashmir <section>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto inventore enim quidem rerum accusantium modi eius ut, ea non officia. Deserunt deleniti tempore illo ducimus et numquam esse ratione rerum!
</section></h1>
{% endblock kashmir %}